@import "../../styles/variables.scss";

.page-link {
  align-self: flex-end;
  background-color: $color-primary;
  color: $color-secondary;
  display: inline-block;
  font-size: 1.2rem;
  height: 5rem;
  line-height: 5rem;
  letter-spacing: 0.02rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 16.1rem;

  &::before {
    bottom: -0.5rem;
    border: solid 1px $color-primary;
    content: "";
    height: 100%;
    left: -0.5rem;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }

  &:hover {
    &::before {
      bottom: 0.5rem;
      left: 0.5rem;
    }
  }
}
