/* ---- COLORS ---- */

$color-primary: hsl(210, 9%, 29%);
$color-primary--active: hsl(210, 9%, 40%);
$color-secondary: hsl(197, 54%, 97%);
$color-background: hsl(0, 0%, 100%);
$color-additional: hsl(0, 0%, 66%);
$color-additional--light: hsl(0, 0%, 96%);
