@import "../styles/variables.scss";

.article {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 6;

  &-title {
    column-count: 2;
    column-gap: 20px;
  }
}

.slider {
  display: flex;
  grid-column-start: 7;
  grid-column-end: 13;
  position: relative;

  &-gallery {
    box-shadow: -2.2rem 2.2rem 0 $color-additional--light;
    height: 56.6rem;
    width: 100%;
  }

  &-nav-prev {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 4rem;
    left: -5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;
  }

  &-nav-next {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 4rem;
    right: -3.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &-image {
    height: 56.6rem;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 100%;
  }
}
