@import "../styles/variables.scss";

.article {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 6;
  position: relative;

  &-title {
    column-count: 2;
    column-gap: 20px;
  }

  &-icon-small-cross-left-top {
    position: absolute;
    left: -2.8rem;
    top: -2.8rem;
  }

  &-icon-small-cross-left-bottom {
    position: absolute;
    left: -2.8rem;
    bottom: -2.8rem;
  }

  &-icon-small-cross-right-top {
    position: absolute;
    right: -2.8rem;
    top: -2.8rem;
  }
  &-icon-small-cross-right-bottom {
    position: absolute;
    right: -2.8rem;
    bottom: -2.8rem;
  }
}

.slider {
  display: flex;
  grid-column-start: 7;
  grid-column-end: 13;
  position: relative;

  &-gallery {
    box-shadow: -2.2rem 2.2rem 0 $color-additional--light;
    height: 56.6rem;
    width: 100%;
  }

  &-nav-prev {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 4rem;
    left: -5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.3s ease-in;
    width: 4rem;

    &:hover {
      left: -6rem;
    }
  }

  &-nav-next {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 4rem;
    right: -4.3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.3s ease-in;
    width: 4rem;

    &:hover {
      right: -5.3rem;
    }
  }

  &-image {
    height: 56.6rem;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 100%;
  }
}
