@import "../styles/variables.scss";

/* ----- PAGE HOME ----- */

.article {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 6;
  margin-top: 16.5rem;
  position: relative;

  &-title {
    column-count: 2;
    column-gap: 20px;
  }

  &-icon-small-cross-left-top {
    position: absolute;
    left: -2.8rem;
    top: -2.8rem;
  }

  &-icon-small-cross-left-bottom {
    position: absolute;
    left: -2.8rem;
    bottom: -2.8rem;
  }

  &-icon-small-cross-right-top {
    position: absolute;
    right: -2.8rem;
    top: -2.8rem;
  }
  &-icon-small-cross-right-bottom {
    position: absolute;
    right: -2.8rem;
    bottom: -2.8rem;
  }
}

.slider {
  display: flex;
  grid-column-start: 7;
  grid-column-end: 13;
  position: relative;

  &-gallery {
    box-shadow: -2.2rem 2.2rem 0 $color-additional--light;
    height: 56.6rem;
    width: 100%;
  }

  &-nav-prev {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 4rem;
    left: -5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.3s ease-in;
    width: 4rem;

    &:hover {
      left: -6rem;
    }
  }

  &-nav-next {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 4rem;
    right: -4.3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.3s ease-in;
    width: 4rem;

    &:hover {
      right: -5.3rem;
    }
  }

  &-image {
    height: 56.6rem;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 100%;
  }
}

/* ----- PAGE SEREVICES ----- */

.services {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  grid-column-start: 7;
  grid-column-end: 13;

  &-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
    width: 100%;
  }

  &-card {
    align-items: center;
    background-color: $color-primary;
    color: $color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10rem;
    padding-top: 2rem;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $color-primary--active;
    }
  }

  &-card-title {
    font-weight: 500;
    padding: 1rem;
  }

  &-list {
    align-self: flex-start;
  }

  &-list-item {
    font-weight: 300;
    margin-bottom: 0;
    list-style: none;

    svg {
      margin-right: 0.5rem;
    }
  }
}

/* ----- PAGE CONTACT ----- */

.contact-hero {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 6;
  margin-top: 2.8rem;
  position: relative;

  &-title {
    margin-bottom: 0;
    min-height: 20.4rem;
  }

  &-icon-small-cross-left-top {
    position: absolute;
    left: -2.6rem;
    top: -0.8rem;
  }

  &-icon-small-cross-left-bottom {
    position: absolute;
    left: -2.6rem;
    bottom: -0.8rem;
  }
}

.contact-random-image {
  align-self: flex-start;
  background-color: $color-primary;
  grid-column-start: 6;
  grid-column-end: 13;
  min-height: 20.4rem;
  margin-top: 2.8rem;
  margin-bottom: 0;
  position: relative;

  &-icon-small-cross-right-top {
    position: absolute;
    right: -0.8rem;
    top: -0.8rem;
  }
  &-icon-small-cross-right-bottom {
    position: absolute;
    right: -0.8rem;
    bottom: -0.8rem;
  }
}

.contact-form-container {
  grid-column-start: 2;
  grid-column-end: 13;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
  width: 100%;

  &-input-phone,
  &-input-email,
  &-input-name,
  &-input-subject,
  &-input-company,
  &-input-service-type {
    border: none;
    border-bottom: 1px solid lighten($color-primary, 60%);
    background: none;
    font-size: 1.4rem;
    height: 4rem;
    margin-bottom: 2.5rem;
  }

  &-text-area {
    border: none;
    border-bottom: 1px solid lighten($color-primary, 60%);
    background: none;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  &-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 32%;
  }

  &-input-wrapper-text-area {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  &-info-wrapper {
    display: flex;
    font-size: 2rem;
    line-height: 2.8rem;
    padding-left: 2rem;
    width: 60%;
  }

  &-info-data-company-important {
    display: block;
    font-size: 2.6rem;
    text-transform: uppercase;
  }

  &-info-data,
  &-info-quote {
    width: 50%;
  }

  &-info-quote {
    padding-left: 5rem;
    font-size: 1.4rem;

    strong {
      font-size: 2rem;
    }
  }
}
