@import "../../styles/variables.scss";

.header {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 7.6rem;
  margin: 0 auto;
  max-width: calc(100% - 140px);

  &-logo {
    font-size: 2.6rem;

    span {
      color: $color-additional;
    }
  }
}

.navbar {
  position: absolute;
  right: 0;
  top: 0;
}
